body{
	background-color:	#007fc6;
}

.float-left{
	color:	white;
	float:	left;
	width:	300px; // or 33% for equal width independent of parent width
	padding:	1px;
	font-family:	Helvetica;
	font-size:	80px;
	font-weight:	bold;
	margin-top: 80px;

}
img{
	content:	url(../static/logo.png);
	float:	left;
	width:	40%;
	height:	40%;
}

th{
	border-collapse: 1px solid white;
	border-bottom-style: solid;
	border-bottom-color:  white;
	color: white;
	padding: 3px;
	text-align: center;
	font-family: Helvetica;
	font-size: 70px;
}
td{
	border-collapse: 1px solid white;
	border-bottom-style: solid;
	border-bottom-color:  white;
	color: white;
	padding: 3px;
	text-align: center;
	font-family: Helvetica;
	font-size: 70px;
	font-weight: bold;
}
table.c {
	table-layout: auto;
	width: auto;  
}

